@charset "utf-8";

/*reset*/
html,body,div,p,ul,ol,li,dl,dt,dd,table,tr,th,td,caption,form,fieldset,legend,address,header,aside,nav,main,section,article,footer,figure,figcaption,h1,h2,h3,h4,h5,h6,blockquote,button,input,label,select,textarea,pre{word-break:keep-all;font-family:'Pretendard',sans-serif;margin:0;padding:0;font-size:16px;font-weight:400;color:#111;}
header,nav,aside,section,article,main,footer,figure{display:block;}
li{list-style:none;}
a{text-decoration:none;color:inherit;box-sizing: border-box;}
a img{border:0;}
table{border-collapse:collapse;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
em,i,address,cite{font-style:normal;}
button{border:0;outline:0;cursor:pointer;}
select{-o-appearance:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;background-image:url(../images/arrow_down_black.png);background-repeat:no-repeat;}
select::-ms-expand{display:none;}
select > option:disabled{color:#eee;}
caption,figcaption,.blind{font-size:0;line-height:0;overflow:hidden;height:0;text-indent:-9999px;}
.clear:before,.clear:after{clear:both;display:block;content:'';}
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;}
hr{height:1px;background-color:#ddd;border:0;}
section{position:relative;}
:root{--main-color:#322cbd;}
/* layout */
section {position: relative;}
.inner{position:relative; width:1120px;margin:0 auto;}
::selection{background-color:#322cbd;color:#fff;}
.fl_left{float:left;}
.fl_right{float:right;}
.more_button{display:block;width:260px;height:60px;font-size:20px;font-weight:500;background-color:#111;border-radius:30px;color:#fff;margin:0 auto;}
.input{width:100%;height:36px;font-size:16px;border:1px solid #ccc;border-radius:0;background-color:#fff;box-sizing:border-box;outline:none;color:#111;padding:0 20px;}
.input_file{width:100%;height:36px;font-size:16px;border:1px solid #ccc;border-radius:0;background-color:#fff;box-sizing:border-box;outline:none;color:#111;padding:0;}
.color_button{width:100%;height:60px;background-color:var(--main-color);border-radius:30px;font-size:20px;font-weight:500;color:#fff;}
.err_text{display:block;font-size:16px;color:#d90000;text-align:left;margin:4px 0 0 4px;}
.flex{display:flex;justify-content:space-between;}
.hide{display:none;}
.swiper{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
/* button */
.btn_arrow {padding-right:25px; background:transparent url(../images/content/icon_btn_r.png) no-repeat calc(100% - 10px) 50%; background-size:9px auto;}
.btn_arrow span{font-size:16px; color:#332dbd; border-bottom:1px solid #332dbd;}
.btn_normal{font-size:16px; color:#555; border-bottom:1px solid #555;}
/* radio */
.radio, .checkbox {position:relative;}
.radio + .radio, .checkbox + .checkbox {margin-top:7px;}
.radio input, .checkbox input{display: none}
.radio input + label,.checkbox input + label{position:relative; display:inline-block; padding-left:35px; height:24px; line-height:1.5; cursor:pointer; font-weight:300;}
.radio input + label::after, .checkbox input + label::after{content:''; position:absolute; left:0; top:0; width:24px; height:24px; background:url(../images/common/icon_rdo.png) no-repeat 0 0; background-size:100% auto;}
.radio input:checked + label::after,.checkbox input:checked + label::after {background-image:url(../images/common/icon_rdo_chk.png);}
/* select */
.select::-ms-expand {display: none;}
.select {padding:5px 30px 5px 10px; width:100%; height:36px; border:1px solid #ccc; background: url(../images/common/icon_arrow.png) no-repeat calc(100% - 10px) 50%; background-size: 12px 7px; -webkit-appearance: none; appearance: none;}
.select option {padding:4px;}
/* input text  */
.input_txt {padding:0 0 0 10px; width:100%; height:36px; border:1px solid #ccc; box-sizing: border-box;}
.input_txt:focus, .select:focus, .textarea:focus {border:1px solid #332dbd; outline:none}
/* textarea */
.textarea {padding:15px 20px; width:100%; border:1px solid #ccc; resize: none; box-sizing: border-box; background-color:#fff;}
.input_txt::placeholder, .textarea::placeholder {color:#aaa;}
[contenteditable=true]:empty:before{content:attr(placeholder); color:#aaa;}
/* 정렬 */
.txt-c {text-align:center !important;}
.txt-l {text-align:left !important;}
.txt-r {text-align:right !important;}
/* header */
header {position:fixed;top:0;width:100%;height:110px;background-color:#fff;color:#111;border-bottom:1px solid #ccc;z-index:1000;transition:all .3s;}
header .inner{display:flex;align-items:center; height:100%;}
header .logo{position:absolute;left:0;top:53px; font-family:Montserrat, sans-serif;font-size:35px;font-weight:700;text-transform:uppercase;}
header .member {position:absolute; top:0px; right:0; display:inline-flex;}
header .member li{position:relative;}
header .member li a{display:inline-block; color:#555;padding:11px 13px;font-size:15px;font-weight:400;}
header .member li::after{content:''; position:absolute; right:-1px; top:50%; transform:translateY(-50%); width:1px; height:10px; background-color:#ccc;}
header .member li:last-child:after{content:none;}
header .member li .layer_mypage{position:absolute; top:40px; right:0; z-index:1; padding:5px 0; width:100%; background-color:#fff; border:1px solid #ccc;}
header .member li .layer_mypage a{ display:block;padding:5px 10px;}
header .navi {position:absolute; left:200px; top:28px; display:inline-flex; align-items:center; position:relative;}
header .navi li {display:flex;align-items:center;}
header .navi li a{padding:10px 15px 22px 15px;font-size:20px;}
header .navi li.on{position:relative;font-weight:700; color:#322cbd;}
header .navi li.on::after{content:'';position:absolute;bottom:0;left:0;width:100%;height:4px; background-color:#322cbd;}
header .search {position:absolute; top:57px; right:0; display:inline-flex;}
header .search input {width:200px; border-radius:50px;border:2px solid #322cbd; padding: 0 36px 0 20px;}
header .search .btn_search{position:absolute; right:0; width:50px; height:100%; text-indent:-9999px; background:transparent url(../images/common/icon_search.png) no-repeat 50% 50%; background-size:20px auto;}
header .search .srchResult{display:none;  position:absolute; top:40px; left:0;  width:100%; background: #fff; border:1px solid #322cbd; border-radius:15px; }
header .search .srchResult b {background-color:yellow; color:red}
header .search .srchResult a {display:block; margin:1px 0; padding:7px 20px;}
header .search .srchResult a:hover {background-color:rgba(0 0 0 / 3%);}
#proPopupBox{display:none;position:absolute;top:90px;left:-40px;width:158px;background-color:#fff;border-radius:10px;font-size:16px;color:#555;z-index:1000;}
.pop_profile_area{border-bottom:1px solid #eee;padding:15px;}
.pop_profile{display:block;height:30px;margin-bottom:12px;}
.pop_profile:last-child{margin-bottom:0;}
.popup_mypage{display:block;border-bottom:1px solid #eee;text-align:center;padding:12px 0;}
.popup_logout{display:block;text-align:center;color:var(--main-color);padding:12px 0;}
.pop_pro_img{display:inline-block;width:30px;height:30px;margin-right:10px;border-radius:50px;vertical-align:middle;}
.pop_pro_img > img{width:100%;height:100%;}
/* footer */
footer{width:100%;height:300px;background-color:#060d28;}
.footer_info{display:flex;align-items:center;padding-top:50px;}
.footer_info > li{margin-right:30px;font-size:16px;font-weight:500;color:#fff;}
.address{font-size:16px;color:#fff;line-height:1.5;margin:40px 0;}
.copyright{font-size:16px;color:#eee;}
.copyright:before{content:'ⓒ';display:inline-block;margin-right:4px;}
/* popup */
.noScroll{overflow:hidden;-webkit-overflow-scrolling:initial;}
.dimmed_black{display:none;position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:1000;}
.popupBox{position:absolute;top:50%;left:50%;width:600px;background-color:#fff;border-radius:12px;transform:translate(-50%,-50%);text-align:center;box-sizing:border-box;padding:50px 40px;}
.popupBox.noTitle{padding:80px 40px 40px;}
.popupBox.left{text-align:left;padding:50px 40px 60px;}
.popupBox.left .popup_message{overflow:auto;margin-bottom:0;font-size:16px;}
.popupBox.left .popup_message::-webkit-scrollbar{width:6px;}
.popupBox.left .popup_message::-webkit-scrollbar-thumb{background-color:#ccc;border-radius:3px;}
.popupBox.left .popup_message::-webkit-scrollbar-track{background-color:#eee;border-radius:3px;}
.popupBox.password .popup_message{margin-bottom:20px;font-size:16px;}
.popupBox.password .popup_link{margin:30px auto 0;}
.popupBox.left .popup_message > strong{display:block;color:#111;font-weight:500;}
.popupBox.left .popup_message > span{display:block;padding-top:10px;font-size:16px;}
.popup_title{margin-bottom:20px;font-size:30px;color:#111;font-weight:700;}
.popup_title span{display:block;margin-top:10px;font-size:16px;color:#666;font-weight:400;}
.popup_message{margin-bottom:40px;font-size:24px;color:#555;}
.popup_button_area{display:flex;justify-content:space-between;width:278px;margin:0 auto;}
.popup_link{display:block;width:134px;height:50px;line-height:50px;font-size:20px;font-weight:500;text-align:center;background-color:var(--main-color);border-radius:25px;color:#fff;margin:0 auto;}
.popup_link.cancel{margin-right:10px;background-color:#ccc;}
.popup_close{display:block;position:absolute;top:20px;right:20px;width:30px;height:30px;cursor:pointer;}
.close_button{display:block;width:100%;height:100%;background-color:#fff;}
.close_button::before,.close_button::after{content:'';display:block;position:absolute;top:15px;right:0;width:30px;height:1px;background-color:#000;}
.close_button::before{transform:rotate(45deg);}
.close_button::after{transform:rotate(-45deg);}
.popupBox.profile .popup_title{margin-bottom:30px;}
.popup_img{display:block;width:160px;height:160px;margin:0 auto 30px;}
.small_input_area{width:134px;}
.popupBox.profile label{display:block;margin-bottom:10px;text-align:left;font-size:16px;color:#555;}
.popup_small_input::placeholder{text-align:right;}
#gender{background-position:100px 25px;}
.popupBox .box_area{display:block;background-color:#fff;border-radius:10px;border:1px solid #ccc;padding:20px;}
/* 테이블 */
.table1{width:100%;font-size:16px;border-top:2px solid #111;}
.table1 th{color:#111;font-weight:500;text-align:center; height:36px;background-color:#f6f6f6;border-bottom:1px solid #ccc;border-right:1px solid #ccc;}
.table1 td{padding: 8px 20px; color: #555; text-align:center;height:36px;border-bottom:1px solid #ddd;border-right:1px solid #ccc; box-sizing: border-box;}
.table1 th:last-child,.table1 td:last-child{border-right:0;}
.table1 tbody {border-bottom:1px solid #111;}
.table1.pop{font-size:16px;margin:20px 0;}
.table1.type td {text-align: left;}
.table1.type td:first-child{padding-left: 30px;background-color:#f6f6f6;}
/* 간격 */
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}
.mt54{margin-top:54px;}
.mb2_3{margin-bottom:2.3px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.ml5{margin-left: 5px;}
.ml10{margin-left: 10px;}
.ml15{margin-left: 15px;}
.ml20{margin-left: 20px;}
.pt10{padding-top: 10px;}
.pb100{padding-bottom:100px;}
.pl5{padding-left: 5px;}

/*텍스트색상 */
.red {color:#d90000 !important;}
.purple {color:#8000ff !important;}
.point {color: var(--main-color) !important;}
/* 버튼 */
.btn{border-radius:5px;text-align:center;cursor:pointer;padding:10px 20px;}
.btn_primary{color:#fff;background-color:#322cbd;border: 1px solid #322cbd;}
.btn_grey{color:#111;background-color:#b9b9b9;border: 1px solid #b9b9b9;}
.btn_sblue{color:#fff;background-color:#32a6cf;border: 1px solid #32a6cf;}
.btn_line{color:#111;border: 1px solid #555;background-color:#fff;}
.btn_xl{font-size:22px;padding:20px 72px;}
.btn_l{font-size:22px;padding:20px 40px;}
.btn_s{font-size:16px;padding:10px 30px;}
.btn_xs{font-size:14px;padding:8px 25px;}
.btn_xxs{font-size:14px;padding:7px 15px;}
/* 리스트 */
.list-dot li{text-indent:12px;background:url(../images/common/dot_list.png) no-repeat 0 8px;line-height:1.5;}
/* 공통 */
input[type="checkbox"].checkbox {position:relative; border:none; width:20px; height:20px;}
input[type="checkbox"].checkbox::before{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/common/icon_chk.png) no-repeat 0 0;}
input[type="checkbox"].checkbox:checked:after{content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:url(../images/common/icon_chk_chk.png) no-repeat 0 0;}
.btn_m{font-size:22px;padding:10px 30px; font-size:16px;}
input.type1 {width: 254px;}
input.type2 {width: 100px;}
.tb_txt_S {font-size: 16px;color:#666; margin-top: 5px;}
/* 페이징 */
.paging_wrap {display:inline-flex; align-items:center;}
.paging_wrap a {display:inline-block; width:24px; height:24px; text-align:center; color:#555;}
.paging_wrap .pg_num{margin:0 5px; line-height:1.5;}
.paging_wrap .pg_num.on{font-weight:500; color:#322cbd}
.paging_wrap .pg_prev, .paging_wrap .pg_next {text-indent:-9999px;}
.paging_wrap .pg_prev{margin-right:10px; background:url(../images/common/icon_paging_prev.png) no-repeat 50% 50%; background-size:24px auto;}
.paging_wrap .pg_next{margin-left:10px; background:url(../images/common/icon_paging_next.png) no-repeat 50% 50%; background-size:24px auto;}

.sw_inner{position:relative;width:1240px;margin:0 auto;}
.swiper{width:1120px;}
.swiper-wrapper{padding-bottom:30px;}
.swiper-slide{display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;}
.swiper-slide img{display:block;width:100%;height:100%;object-fit:cover;}
.swBtn{top:0;margin-top:0;width:50px;height:100%;color:#322cbd;}
.swiper-button-prev{left:0;}
.swiper-button-next{right:0;}
.swiper-pagination-bullets{bottom:0!important;}
.container {margin-top:150px; min-height:670px;}
/* 메인 */
.kvCon{margin-top:100px;padding:50px 0;}
.kvCon .swiper-slide{max-width:257.5px;}
.cont{padding:50px 0;}
.cont h3{margin-bottom:20px;font-weight:700;font-size:25px;}
.cont .swiper-slide{transform:scale(0.75);transition:all 200ms linear;max-width:224px;}
.cont .swiper-slide-active{transform:scale(1);}
.cont .swiper-slide::after{content:'';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(000/50%);}
.cont .swiper-slide-active::after{background-color:initial;}
.cont01{background-color:#f7f7f7;}

/* sub_page 공통 */
.bottom_btn_wrap {padding:30px 0 30px;}
.bottom_btn_wrap a{display: inline-block;}
.strong{font-size: 30px; font-weight: 500; color:#111;}
.sect01 {padding-top:50px;background-color:#fff;}
.sect01 .box_area{overflow:hidden;background-color:#fff;border-radius:16px;border:1px solid #ccc;}
.sub_page_title{font-size: 34px;font-weight:500;color:#111;margin-bottom: 30px;}
.sub_page_stit{font-size: 18px;font-weight:500;color:#111;margin-bottom: 20px;}
.s_text {font-size: 14px; font-weight:400; color:#666; margin-top:10px;}

/* 로그인 */
.login .sect01 {padding-top:60px; background-color:#f7f7f7;}
.login-box {margin:0 auto; width: 680px; padding: 60px 50px; box-sizing: border-box;}
.login-box h3{font-size: 30px; font-weight: 500; text-align: center; color:#322cbd;}
.login-box .inp_l{height:68px;}
.login-box .input_txt{padding:0 0 0 20px; font-size: 18px;}
.login-box .input_txt:focus {border:2px solid #332dbd; outline:none}
.login-box .btn{display: inline-block; width: 100%;}

/* 검색결과 */
.reaultWrap .result_list {display:grid; grid-template-columns: repeat(5, 1fr); column-gap: 30px; margin-bottom:100px;;}
.reaultWrap .result_list li {margin-bottom:30px;}
.reaultWrap .result_list li img{width:100%}

/* 어드민 */
.srch_area{display:flex; margin-bottom:20px;}

/* 공통 tab */
.tab_box {min-height: 500px;}
.tab_box .tabs {position:relative; display:flex;}
.tab_box .tabs button{flex:1; padding:15px 0; color:#333; font-size:20px; background-color:transparent; border-bottom: 2px solid #ddd ;transition:color .4s ease;}
.tab_box .tabs button.on{color:#322cbd; border-bottom: 2px solid #322cbd; transition:left .4s ease;}
.tab_box .tabs_content {margin-top:50px;}
.tab_box .tabs_content li{display: none;}
.tab_box .tabs_content .cont_not {padding:30px; text-align:center;}
.tab_box .tabs_content li.on{display: inherit;}